@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    display: none !important;
}

.swiper-button-next {
    @apply bg-white p-5 rounded-full z-50 shadow-md
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 16px !important;
}


/* Main Button Hover Logic */
.menuBtnAnim {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.menuBtnAnim:hover .buttonRotate {
    transform: rotateX(90deg);
}

.menuBtnAnim:hover .firstLabel {
    transform: translateY(-100%);
    opacity: 0;
}

.menuBtnAnim:hover .secondLabel {
    opacity: 1;
}

/* Default States */
.firstLabel {
    opacity: 1;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.secondLabel {
    position: absolute;
    transform: rotateX(-90deg) translateY(10px);
    opacity: 0;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    transform-origin:bottom center ;
}

.buttonRotate {
    transform-style: preserve-3d;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}